.cart {
  .bread {
    display: flex;
    gap: 10px;
    padding: 30px 20px 0 20px;
  }
  &Content {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    .emptyCart {
      text-align: center;
    }
    &Products {
      width: 75%;
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
    &Total {
      display: flex;
      flex-direction: column;
      box-shadow: 0 0 1px #42429c;
      width: 350px;
      height: 100%;
      padding: 20px;
      border-radius: 5px;
      gap: 10px;
      & > button:nth-child(2) {
        background: crimson;
      }

      & > button:nth-child(3) {
        background: white;
        border: 2px solid crimson;
        color: crimson;
      }

      & > button {
        padding: 15px;
        border-radius: 5px;
        border: 0;
        background: #42429c;
        margin: 5px 0;
        font-size: 18px;
        color: white;
      }
      .price {
        padding-bottom: 5px;
        border-bottom: 1px solid rgb(225, 225, 225);
        font-size: 20px;
        display: flex;
        justify-content: space-between;
      }
      .payment {
        background: rgb(224, 224, 224);
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
        padding: 10px;
        &Info {
          color: rgb(147, 136, 136);
        }
      }
    }
  }
}
